<section>
  <span>
    <a target='_blank' href='https://github.com/conybcc/conybcc.github.io/issues/{{ page.gh_issue_id }}'>
      点击评论(需要登录github账号)
    </a>
    评论完成后,回博客刷新
  <span>
  <ul id="comments" class='blog-post-comments'></ul>
</section>


<script type="text/javascript">
  const apiUrl = 'https://api.github.com/repos/conybcc/conybcc.github.io/issues/{{ page.gh_issue_id }}/comments'
  fetch(apiUrl)
  .then(function(response) {
    return response.json();
  })
  .then(function(comments) {
      const $commentSection = $('.blog-post-comments')
      comments.forEach(function (comment) {
        $commentSection.append(
          `
          <li class="comment">
            <a class="commenter" href="${comment.user.html_url}"
              target="_blank">${comment.user.login}</a>,
              ${new Date(comment.created_at).toLocaleString()}
            <p>
              ${comment.body}
            </p>
          </li>
          `
        )
      })
  });
</script>