<div class="menu">
    <span style="float:right;">课程目录</span>
    <ul class="menu_list">
      <li><a class="menu_link" href="/topic/20181110_viewpoint_about_learn_program.html" title="关于金融会计等经济领域从业人员学习编程知识的思考">谈观点</a>
      <li><a class="menu_link" href="/topic/20181108_python_lesson1.html" title="初识python, 学会小小的爬虫">第一课</a></li>
      <li><a class="menu_link" href="/topic/20181109_python_lesson2.html" title="安装环境, 分析上交所的年报">第二课</a></li>
      <li><a class="menu_link" href="/topic/20181111_python_lesson3.html" title="爬取上交所年报到本地">第三课</a></li>
      <li><a class="menu_link" href="/topic/20181113_python_lesson4.html" title="学习python的基本语法">第四课</a></li>
      <li><a class="menu_link" href="/topic/20181114_python_lesson5.html" title="用python做量化交易策略 画图并导出csv">第五课</a></li>
      <li><a class="menu_link" href="/topic/20181130_python_lesson6.html" title="使用matplotlib画图">第六课</a></li>
      <li><a class="menu_link" href="/topic/20190322_python_lesson7.html" title="如何生成股票的macd指标">第七课</a></li>
      <li><a class="menu_link" href="/topic/20191121_python_lesson8.html" title="生成夏普比率评价交易">第八课</a></li>
      <li><a class="menu_link" href="/topic/20191201_python_lesson8.html" title="计算最大回撤">第九课</a></li>
    </ul>
</div>
<style>
  .menu {
    position: fixed;
    top: 50px;
    right: 20px;
    color: snow;
  }
  .menu_list {
    list-style: none;
  }
  .menu_link {
    color: snow;
  }
</style>