<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {% seo %}

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header {% unless site.description or site.github.project_tagline %} class="without-description" {% endunless %}>
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
        {% if site.description or site.github.project_tagline %}
          <p>{{ site.description | default: site.github.project_tagline }}</p>
        {% endif %}
        <ul>
          <li><a href="/">蓦然<strong>回首</strong></a></li>
        </ul>
      </header>
      <section>
        {{ content }}

        <h2 id="最后">最后</h2>
        <p>我近期一边整理免费课程，也会推出更多的免费视频，方便大家结合查看学习</p>
        <p>如果你对我的课程感兴趣，欢迎与我联系，提供一对一教学，也可以帮助实现特定程序</p>
        <p>了解清楚目标后，可以试听一课，满意后再付款</p>
        <p>如果有概念没有理解清楚，随时可以询问，不再收费</p>

        <p><a href="https://conybcc.github.io/">回到首页查看更多课程</a></p>

        <h2 id="我的联系方式">我的联系方式</h2>
        <ul>
          <li>微信：ilovebcc （需要一对一教学请加好友时注明）</li>
          <li>YY: 2341272648</li>
          <li>QQ: 383124540</li>
        </ul>
      </section>
      {%- if post.gh_issue_id %}
        <div>post.gh_issue_id</div>
        {%- include "_comments.html" %}
      {%- endif %}
      {%- if page.gh_issue_id %}
        <div>page.gh_issue_id</div>
        {%- include "_comments.html" %}
      {%- endif %}
      {%- include "_comments.html" %}
    </div>
    <footer>
      <p>如果你想控制世界，从控制你的代码开始</p>
    </footer>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->

    <script>
      var _hmt = _hmt || [];
      (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?16fabcce9c3690ffefd5a1d6ffaf6bdf";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();
    </script>
  </body>
</html>
